# Comprehensions & Advanced Containers

## i) Comprehensions

In [156]:
import math
import collections
import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [157]:
# We normally create a list of loop calculating squares like
squares = []
for i in range (1, 15):
    squares.append(i**2)

In [158]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [159]:
# a comprehension
squares = [i**2 for i in range(1, 15)]

In [160]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

### Naked Comprehensions

-- Which are useful when generate a sequence and consume the elements one by one without ever storing them in a list or a dictionary. When dealing with large amount of data it saves memory and time. eg:

In [161]:
sum(i**2 for i in  range(1,15))

1015

In [162]:
#check
sum(squares)

1015

### Nested Comprehensions - when dealing with loops of loops

In [163]:
# original nasty loops of loops is like
counting = []

for i in range(1, 15):
    for j in range(1, i+1):
        counting.append(j)

print(counting)

[1, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [164]:
# Comprehension
counting_comprehended = [j for i in range(1, 15) for j in range(1, i+1)]

In [165]:
print(counting_comprehended)

[1, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

### Filter the Comprehension

In [166]:
#by adding 'if' conditions
# to find the squared products which are devisible by 4
squares_by_4 = [i**2 for i in range(1, 15) if i**2 % 4 == 0]

In [167]:
squares_by_4s

NameError: name 'squares_by_4s' is not defined

### Dictionary Comprehensions

In [168]:
squares_dict = {i: i**2 for i in range(1,15)}

In [169]:
squares_dict

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196}

##### Dict comprehensions sometimes are used to transpose an existing dict

In [170]:
capitalcities = {'UK': 'London', 'Japan': 'Tokyo', 'Norway': 'Oslo'}

In [171]:
# Transposing by
countries_by_capitals = {capital: country for country, capital in capitalcities.items()}

In [172]:
# Transposed result
countries_by_capitals

{'London': 'UK', 'Tokyo': 'Japan', 'Oslo': 'Norway'}

##### Define A Non-existing Key in A Dictionary - Defaultdict

In [173]:
def mydefault():
    return "No Idea"

In [174]:
questions = collections.defaultdict(mydefault)

In [175]:
questions['What do you want for lunch']

'No Idea'

Now the Key will be a part of the dictionary

## ii) Advanced Containers

### Multiple Dimension Lists and Applied Comprehensions

In [176]:
# dimensions: tuples, first name, surname, birthday
people = [("Michele", "Vallisneri", "July 15"),
          ("Albert", "Einstein", "March 14"),
          ("John", "Lennon", "October 9"),
          ("Jocelyn", "Bell Burnell", "July 15"),
         ("Momo", "Christopher", "July 15")]

In [177]:
# Indexing the list
# go to the first tuple's content and the first item - first name
people[0][0]

'Michele'

In [178]:
# go to the first tuple's content and the third item in it - birthday
people[0][2]

'July 15'

In [179]:
# To find all the people who has a spacific birthday - say 'July 15'
# no attampt to store the result for now
[person for person in people if person[2] == "July 15"]

[('Michele', 'Vallisneri', 'July 15'),
 ('Jocelyn', 'Bell Burnell', 'July 15'),
 ('Momo', 'Christopher', 'July 15')]

Shows the tuples dimension

#### Using /collections/ to title your dimensions

In [180]:
# entitle the 1st dim (tuples) with 'person', and fields in 'person' are respectively 'firstname', 'surname', 'birthday'
people_titled = collections.namedtuple('person', ['firstname', 'surname', 'birthday'])

In [181]:
people_titled

__main__.person

In [182]:
# create instances of the person tuple by using the people_titled and field values sequentially
michele = people_titled("Michele", "Vallisneri", "July 15")

In [183]:
michele

person(firstname='Michele', surname='Vallisneri', birthday='July 15')

In [184]:
# We can shuffle the field
michele = people_titled(surname='Vallisneri', birthday='July 15', firstname='Michele')

In [185]:
michele

person(firstname='Michele', surname='Vallisneri', birthday='July 15')

In [186]:
# can now index the field
michele[0],michele[1],michele[2]

('Michele', 'Vallisneri', 'July 15')

In [187]:
# alternatively using the object oriented syntax
michele.firstname, michele.surname, michele.birthday

('Michele', 'Vallisneri', 'July 15')

#### Tuple Unpacking in A Multiple Dimensions List

In [188]:
people_titled(people[0])

TypeError: __new__() missing 2 required positional arguments: 'surname' and 'birthday'

In [189]:
people_titled(*people[0])

person(firstname='Michele', surname='Vallisneri', birthday='July 15')

In [190]:
# List comprehension to complete all tuples in the previous people list
list_of_fields = [people_titled(*person) for  person in people]

In [191]:
list_of_fields

[person(firstname='Michele', surname='Vallisneri', birthday='July 15'),
 person(firstname='Albert', surname='Einstein', birthday='March 14'),
 person(firstname='John', surname='Lennon', birthday='October 9'),
 person(firstname='Jocelyn', surname='Bell Burnell', birthday='July 15'),
 person(firstname='Momo', surname='Christopher', birthday='July 15')]

In [192]:
# again conduct the birthday search - clearer results
[person for person in list_of_fields if person.birthday == "July 15"]

[person(firstname='Michele', surname='Vallisneri', birthday='July 15'),
 person(firstname='Jocelyn', surname='Bell Burnell', birthday='July 15'),
 person(firstname='Momo', surname='Christopher', birthday='July 15')]

### Alternative Method to Store Data Record: Python 3.7 Dataclasses

-- If your Python is below 3.7 please to go to Terminal (for Mac) to install the dataclasses module

!pip install dataclasses

In [193]:
from dataclasses import dataclass

In [194]:
# Set up the above person record using dataclass
# using @ the class decorator
@dataclass
class personclass:
    firstname: str
    surname: str
    birthday: str = 'unknown'

        #default birthday value can be empty and it'll show 'unknown'

In [195]:
# Create an instance of the class
michele = personclass('Michele', 'Vallisneri')

In [196]:
michele

personclass(firstname='Michele', surname='Vallisneri', birthday='unknown')

In [197]:
# alternatively using the object oriented syntax
michele.firstname, michele.surname, michele.birthday

('Michele', 'Vallisneri', 'unknown')

In [198]:
# CANNOT access to the contents by index BUT by names
michele[0]

TypeError: 'personclass' object is not subscriptable

In [199]:
print(michele)

personclass(firstname='Michele', surname='Vallisneri', birthday='unknown')

Compared to name tuples dataclasses are full python classes - therefore we can self define methods operate in person's fields such as a method to print a person's fullname.

#### Incorporate  Objective Oriented Programming

In [200]:
@dataclass
class personclass2:
    firstname: str
    surname: str
    birthday: str = 'unknown'
        
    def fullname(self):
        return self.firstname + ' ' + self.surname

In [201]:
michele = personclass2('Michele', 'Vallisneri', 'July 15')

In [202]:
michele.fullname()

'Michele Vallisneri'

##### Recap the defaultdict

In [203]:
def mydefault():
    return 'No idea'

In [204]:
random = collections.defaultdict(mydefault)

In [205]:
random['Your life goal']

'No idea'

In [208]:
list_of_fields

[person(firstname='Michele', surname='Vallisneri', birthday='July 15'),
 person(firstname='Albert', surname='Einstein', birthday='March 14'),
 person(firstname='John', surname='Lennon', birthday='October 9'),
 person(firstname='Jocelyn', surname='Bell Burnell', birthday='July 15'),
 person(firstname='Momo', surname='Christopher', birthday='July 15')]

In [209]:
birthdays = {}

for person in list_of_fields:
    if person.birthday in birthdays:
        birthdays[person.birthday].append(person.firstname)
    else:
        birthdays[person.birthday] = [person.firstname]

In [210]:
birthdays

{'July 15': ['Michele', 'Jocelyn', 'Momo'],
 'March 14': ['Albert'],
 'October 9': ['John']}

In [213]:
# comprehend using defaultdict
# Prompt the empty list as the def function

list()

[]

In [218]:
birthdays1 = collections.defaultdict(list)

for person in list_of_fields:
    birthdays1[person.birthday].append(person.firstname)

In [219]:
birthdays1

defaultdict(list,
            {'July 15': ['Michele', 'Jocelyn', 'Momo'],
             'March 14': ['Albert'],
             'October 9': ['John']})