##  Revise Dictionaries and Sets

In [7]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

## Dictionaries

In [8]:
# Create a new dictionary of strings
capitalcities = {'UK': 'London', 'Japan': 'Tokyo', 'Norway': 'Oslo'}

In [9]:
capitalcities['Japan']

'Tokyo'

In [13]:
# Add a new item to the dictionary
capitalcities['Spain'] = 'Madrid'

In [14]:
capitalcities

{'UK': 'London', 'Japan': 'Tokyo', 'Norway': 'Oslo', 'Spain': 'Madrid'}

In [16]:
# Using "in" to check if an item exists in the dictionary
'Germany' in capitalcities, 'Oslo' in capitalcities, 'Japan' in capitalcities

(False, False, True)

#### Update the dictionary

In [23]:
# Adding muliple items
newcontent = {'China': 'Beijing', 'Denmark': 'Copenhagen'}

In [21]:
capitalcities.update(newcontent)

Cannot use "+" to update dictionary as what we've done in lists manipulation as it gives error msg

In [22]:
capitalcities

{'UK': 'London',
 'Japan': 'Tokyo',
 'Norway': 'Oslo',
 'Spain': 'Madrid',
 'China': 'Beijing',
 'Denmark': 'Copenhagen'}

In [25]:
# Deleting items
del capitalcities['China']

In [26]:
capitalcities

{'UK': 'London',
 'Japan': 'Tokyo',
 'Norway': 'Oslo',
 'Spain': 'Madrid',
 'Denmark': 'Copenhagen'}

#### Hash

In [27]:
# Hashable - Tuples
Birthdays = {(11,12): 'Santiago', (8,7): 'Mony'}

In [29]:
Birthdays[(11,12)]

'Santiago'

In [30]:
# See the internal representable keys with hash
hash('UK')

-6709250330421998809

In [31]:
hash((8,7))

8874407394921044968

#### Loops of A Dictionary

* type 1: for key in dict:...
* type 2: for key in dictionary.keys( ):...
* type 3: for value in dictionary.values( ):...

In [34]:
# type 1
for country in capitalcities:
    print(country)

UK
Japan
Norway
Spain
Denmark

In [35]:
capitalcities.keys()

dict_keys(['UK', 'Japan', 'Norway', 'Spain', 'Denmark'])

This is NOT a list but a special iterative object

In [36]:
list(capitalcities.keys())

['UK', 'Japan', 'Norway', 'Spain', 'Denmark']

In [38]:
# Type 2
for capital in capitalcities.values():
    print(capital)

London
Tokyo
Oslo
Madrid
Copenhagen

In [40]:
for country,cap in capitalcities.items():
    print(country, cap)

UK London
Japan Tokyo
Norway Oslo
Spain Madrid
Denmark Copenhagen

In [42]:
# print items with values in tuples
for countryNcaps in capitalcities.items():
    print(countryNcaps)

('UK', 'London')
('Japan', 'Tokyo')
('Norway', 'Oslo')
('Spain', 'Madrid')
('Denmark', 'Copenhagen')

## Sets - Mixed types of things in a bracket without duplications

In [46]:
continents = {'Africa', 'Europe', 'Asia', 'Oceania', 'America', 'America'}

In [47]:
continents

{'Africa', 'America', 'Asia', 'Europe', 'Oceania'}

In an alphabetical order by default

In [49]:
# check existance
('Africa', 'Bon') in continents

False

In [50]:
'Africa' in continents

True

In [52]:
'africa' in continents #case sensitive

False

#### Editing Sets

In [53]:
continents.add('Antarctica')

In [54]:
continents

{'Africa', 'America', 'Antarctica', 'Asia', 'Europe', 'Oceania'}

In [55]:
continents.remove('America')

In [56]:
continents

{'Africa', 'Antarctica', 'Asia', 'Europe', 'Oceania'}

In [57]:
# Loop contents in the set
for x in continents:
    print(x)

Asia
Oceania
Antarctica
Africa
Europe

There's NO WAY to do indexing in a set

In [58]:
continents[0]

TypeError: 'set' object is not subscriptable

In [ ]:
s